In [5]:
name = "Umair Taqi"
f_name = "Muhammad Taqi"
gender = ("Male")
id_no = '42101-4333404-1'
dob = '07-02-1989'
doi = '07-12-2009'
doe = '07-12-2019'

cnic_card = f"""

Pakistan National ID Card
Name: {name}
Father's Name: {f_name}
Gender: {gender}  Country of Stay
Identity No: {id_no}
Date of Birth: {dob}   Date of Issue: {doi} 
Date of Expiry: {doe}"""
print(cnic_card)

Pakistan National ID Card
Name: Umair Taqi
Father's Name: Muhammad Taqi
Gender: Male  Country of Stay
Identity No: 42101-4333404-1
Date of Birth: 07-02-1989   Date of Issue: 07-12-2009
Date of Expiry: 07-12-2019

In [33]:
name = input("Name: ")
f_name = "Muhammad Taqi"
uni = "Karachi University"
roll_no = '7221314'
dept= "KUBS"
sub= "MBA Marketing"

mkt = int(input("Marketing "))
resrch = int(input("Research "))
prdt_mgmt = int(input("Production Mgmt "))
b_comm = int(input("Business Communication "))
fin_acc = int(input("Financial Accounting "))
res = (mkt + resrch + prdt_mgmt+b_comm+fin_acc)
print("Total Marks ", res)
per = (res/500*100)
print("Percentage ",per)

Name: Umair Taqi
Marketing 80
Research 75
Production Mgmt 65
Business Communication 55
Financial Accounting 60
Total Marks  335
Percentage  67.0

In [38]:
mark_sheet = f"""==========================Karachi University Business School==================================

Name: {name}                       Father Name: {f_name}
University: {uni}         Roll No:     {roll_no}
Department: {dept}                       Subject:     {sub}

----------------------------------------------------------------------------------------------------------------

S.No               Particular                       Marks
 1                 Marketing:                        {mkt}                  
 2                 Research:                         {resrch}
 3                 Production Mgmt:                  {prdt_mgmt}
 4                 Business Comm:                    {b_comm}
 5                 Financial Accounts:               {fin_acc}
Total Marks:                                         {res}
Percentage:                                          {per}"""
print(mark_sheet)

==========================Karachi University Business School==================================

Name: Umair Taqi                       Father Name: Muhammad Taqi
University: Karachi University         Roll No:     7221314
Department: KUBS                       Subject:     MBA Marketing

----------------------------------------------------------------------------------------------------------------

S.No               Particular                       Marks
 1                 Marketing:                        80
 2                 Research:                         75
 3                 Production Mgmt:                  65
 4                 Business Comm:                    55
 5                 Financial Accounts:               60
Total Marks:                                         335
Percentage:                                          67.0

In [39]:
name = "Muhammad Qasim"
print(type(name))

<class 'str'>

In [41]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [44]:
name="umair taqi"
print(name.capitalize()) #in line operation
print(name)

Umair taqi
umair taqi

In [46]:
name="Umair Taqi"
print(name.casefold())
print(name)

umair taqi
Umair Taqi

In [54]:
name="Umair Taqi"
print(name.center(10))
print(len(name.center(50)))
print(name)

Umair Taqi
50
Umair Taqi

In [53]:
name="Umair Taqi"
print(name.count('a'))
print(name)

2
Umair Taqi

In [61]:
name="umair Taqi"
print(name.casefold().count('u'))
print(name)

1
umair Taqi

In [62]:
name="umair Taqi"
print(name.count('u').casefold())
print(name)

AttributeError: 'int' object has no attribute 'casefold'

In [64]:
name = "پاکستان"
print(name.encode('utf-8'))

b'\xd9\xbe\xd8\xa7\xda\xa9\xd8\xb3\xd8\xaa\xd8\xa7\xd9\x86'

In [65]:
name="umair Taqi"
print(name.endswith('qi'))
print(name)

True
umair Taqi

In [67]:
name="umair Taqi"
print(name.startswith('u'))
print(name)

True
umair Taqi

In [73]:
name="name:\tUmair Taqi\nfather's name:\tMuhammad Taqi"
print(name.expandtabs(20))
print(name)

name:               Umair Taqi
father's name:      Muhammad Taqi
name:	Umair Taqi
father's name:	Muhammad Taqi

In [90]:
name="umair Taqi"
print(name.find("umair",0))

0

In [92]:
name="umair Taqi"
print(name.format("Qasim", "Umair", "Taqi"))

umair Taqi

In [93]:
name="name:{nm}\n class : {cl}"
data = {"nm": 'Qasim', 'cl': "Saylani Btach3"}
name.format_map(data)

'name:Qasim\n class : Saylani Btach3'

In [95]:
name = "Muhammad2 Qasim"
name.index("a")

3

In [97]:
name = "MuhammadQasim"
name.isalnum()

True

In [100]:
name = "MuhammadQasim"
name.isalpha()

True

In [102]:
name = "MuhammadQasim"
name.isascii()

True

In [107]:
name = "41.0"
name.isdecimal()

False

In [106]:
name = "3"
name.isdigit()

True

In [111]:
name = "pak"
name.isidentifier()

True

In [113]:
name = "asasas"
name.islower()

True

In [115]:
name = "2323"
name.isnumeric()

True

In [117]:
name = "pakistan zindabad"
name.title()

'Pakistan Zindabad'

# Complete remaining methods

In [120]:
# list data type
# index
# slicing
# methods
# attributes

#List: we can use list for more than 1 variable.

In [123]:
#         0        1         2          3
names=['qasim', 'umair', 'maulana', 'noman']
#        -4       -3       -2         -1
print(type(names))
names

<class 'list'>

['qasim', 'umair', 'maulana', 'noman']

In [124]:
names[1]

'umair'

In [125]:
names[-3]

'umair'

In [126]:
names[-2]

'maulana'

In [128]:
#         0        1         2          3
names=['qasim', 'umair', 'maulana', 'noman', 200, 300, 500, 20, 10]
#          -9         -8          -7          -6      -5     -4    -3  -2   -1
print(names)
names[1] = 'Hammad'
print(names)

['qasim', 'umair', 'maulana', 'noman', 200, 300, 500, 20, 10]
['qasim', 'Hammad', 'maulana', 'noman', 200, 300, 500, 20, 10]

In [129]:
#         0        1         2          3
names=['qasim', 'umair', 'maulana', 'noman', 200, 300, 500, 20, 10]
#          -9         -8          -7          -6      -5     -4    -3  -2   -1
print(names)
names[100] = "Hammad"
print(names)

['qasim', 'umair', 'maulana', 'noman', 200, 300, 500, 20, 10]

IndexError: list assignment index out of range

# Slicing

In [ ]:
#list[start:end:step]
default left to right (step=1, -1)
#start: include
#end: exclude
#step:

In [140]:
names=['qasim', 'asif', 'noman', 'kamran', 200, 300, 500, 20, 10]
#same slicing with different values
names[1] # index
names[0:3]
names[0:3:1]
names[0:5:2]
names[-9:-6]
names[-9:3:1]
names[-6:-1]

['kamran', 200, 300, 500, 20]

In [146]:
names=['qasim', 'asif', 'noman', 'kamran', 200, 300, 500, 20, 10]
names[::]
names[2:]
names[2::]
names[-9:]

['qasim', 'asif', 'noman', 'kamran', 200, 300, 500, 20, 10]

In [147]:
names=['qasim', 'asif', 'noman', 'kamran', 200, 300, 500, 20, 10]
names[::-1]

[10, 20, 500, 300, 200, 'kamran', 'noman', 'asif', 'qasim']

In [151]:
for i in range(2,len(names)):
               print(names[2])

noman
noman
noman
noman
noman
noman
noman

TypeError: list indices must be integers or slices, not list